$duration: 450ms;
$tileHeight: 250px;
$tileWidth: ($tileHeight / (3/2));
$iconSize: 50px;
$growFactor: 1.2; // 1.5 times the original size
$moveLeft: -($tileWidth * ($growFactor - 1) / 2);
$moveRight: $tileWidth * ($growFactor - 1);
$tileMargin: 6;

body, html {
  padding: 0 10px;
  margin: 0;
  background: #0e0f11;
  color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

a {
  &:link, &:hover, &:active, &:visited {
    transition: color 150ms;
    color: #95a5a6;
    text-decoration: none;
  }
  &:hover {
    color: #7f8c8d;
    text-decoration: underline;
  }
}

.contain {
  width: 100%;
}

.genre {
  display: flex;
}

.left-controls{
  
  position:relative;
  width:50px;
  height:$tileHeight;
  z-index:40;
  opacity:1;
  cursor:pointer;
  text-align:center;
  justify-content:center;
  display: webkit box;
  display: webkit flex;
  display: moz box;
  display:ms flexbox;
  display:flex;
  color:#fff;
  margin: ($tileHeight / $tileMargin) 0;
  margin-right: 20px;

}

.fa-chevron-left-extra
{
  align-self:center;
  position:relative;
  height:auto;
  transform-origin: 55% 50%;
  font-style:normal;
  font-weight:400;
  line-height:1;
  font-variant:normal;
  text-transform:none;
  font-size:2.5vw;
  transition:transform .1s ease-out 0s;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  color:white;
  opacity:.5;
  &:hover {
    opacity: 1;
  }
}


.right-controls{
  position:relative;
  width:50px;
  height:$tileHeight;
  z-index:40;
  opacity:1;
  cursor:pointer;
  text-align:center;
  justify-content:center;
  display: webkit box;
  display: webkit flex;
  display: moz box;
  display:ms flexbox;
  display:flex;
  color:#fff;
  margin: ($tileHeight / $tileMargin) 0;
  margin-left: 20px;
}

.fa-chevron-right-extra
{
  align-self:center;
  position:relative;
  height:auto;
  transform-origin: 55% 50%;
  font-style:normal;
  font-weight:400;
  line-height:1;
  font-variant:normal;
  text-transform:none;
  font-size:2.5vw;
  transition:transform .1s ease-out 0s;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  color:white;
  opacity:.5;
  &:hover {
    opacity: 1;
  }
}

.row {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.row__inner {
  transition: $duration transform;
  font-size: 0;
  white-space: nowrap;
  /*margin: ($tileHeight / 2) 0;*/
  margin: ($tileHeight / $tileMargin) 0;
  padding-bottom: 10px;
}

.tile {
  position: relative;
  display: inline-block;
  width: $tileWidth;
  height: $tileHeight;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: $duration all;
  transform-origin: center left;
}

.tile__img {
  width: $tileWidth;
  height: $tileHeight;
  object-fit: cover;
}

.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  transition: $duration opacity;
  &:after, &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: #000;
  }
  &:after {
    margin-top: (-($iconSize / 2));
    margin-left: (-($iconSize / 2));
    width: $iconSize;
    height: $iconSize;
    border: 3px solid #ecf0f1;
    line-height: $iconSize;
    text-align: center;
    border-radius: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
  }
  &:before {
    content: '▶';
    left: 0;
    width: 100%;
    font-size: 30px;
    margin-left: 4px;
    margin-top: -23px;
    text-align: center;
    z-index: 2;
  }
}

.tile:hover .tile__details {
  opacity: 1;
}

.tile__title {
  position: absolute;
  bottom: 0;
  padding: 10px;  
  font-size: 12px;
}

.row__inner:hover {
  transform: translate3d($moveLeft, 0, 0);
  .tile {
    opacity: 0.3;
    &:hover {
      transform: scale($growFactor);
      opacity: 1;
    }
  }
}

.tile:hover ~ .tile {
  transform: translate3d($moveRight, 0, 0);
}

.highlightTile {
  transform: scale($growFactor);
  z-index: 1000;
  .tile__details {
    opacity: 1;    
    .tile__title{
      z-index: 1000;
    }
  }
  //border: 2px solid red;
}


.loadingClass{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999999 !important;;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: visibility 175ms, opacity 175ms;
  display: table;
  text-shadow: 1px 1px 2px #000;
  color: #fff;
  background: rgba(0, 0, 0, 0.85);
}
.loadingImg {
  width: 100%; height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  transition: font-size 175ms;
  zoom: 200%;
}